
.fanyi8editor {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-top: 50px;
    -webkit-box-shadow: 0 0 10px #999;
    -moz-box-shadow: 0 0 10px #999;
    box-shadow: 0 0 10px #999;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
}

.fanyi8editor > .toolbar {
    height: 50px;
    background-color: #444;
    width: 100%;
    color: #fff;
    line-height: 50px;
    margin: 0;
    margin-top: -50px;
    padding: 0 10px;
    list-style: none;
    cursor:default;
}

.fanyi8editor > .toolbar > li {
    display: inline-block;
    margin:auto 3px;
    cursor: pointer;
}

.fanyi8editor > .toolbar > li:hover{
    color: #4fb2ff;
}

.fanyi8editor > .container {
    overflow: auto;
    position: relative;
    height: 100%;
    width: 100%;
}

.fanyi8editor > .container > .editor-column,
.fanyi8editor > .container > .preview-column {
    width: 50%;
    height: 100%;
    overflow: auto;
    position: relative;
    background-color: #fff;
    float: left;
}

.fanyi8editor > .container > .preview-column {
    padding: 20px;
    background: #f7f7f7;
    -moz-box-sizing: border-box;
    /*Firefox3.5+*/
    -webkit-box-sizing: border-box;
    /*Safari3.2+*/
    -o-box-sizing: border-box;
    /*Opera9.6*/
    -ms-box-sizing: border-box;
    /*IE8*/
    box-sizing: border-box;
    /*W3C标准(IE9+，Safari5.1+,Chrome10.0+,Opera10.6+都符合box-sizing的w3c标准语法)*/

    position: relative;
}

.fanyi8editor > .container > .preview-column > .close-preview {
    position: absolute;
    right: 10px;
    top: 10px;
    background: #444;
    color: #fff;
    display: none;
    width: 30px;
    height: 30px;
    line-height: 26px;
    text-align: center;
    font-size: 30px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    cursor: pointer;
    opacity: 0.8;
}

.fanyi8editor > .container > .preview-column > .close-preview:hover {
    background: #666;
}

.fanyi8editor .editor-content,
.fanyi8editor .preview,
.fanyi8editor .panel-editor,
.fanyi8editor .panel-preview {
    height: 100%;
    width: 100%;
}

/*
关于编辑区域滚动条
*/

.fanyi8editor .ace_scrollbar {
    width: 7px;
}

.fanyi8editor ::-webkit-scrollbar {
    height: 10px;
    width: 7px;
    background: transparent
}

.fanyi8editor ::-webkit-scrollbar:hover {
    background: rgba(128, 128, 128, 0.1)
}

.fanyi8editor ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 6px
}

.fanyi8editor ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.6)
}

.fanyi8editor ::-webkit-scrollbar-corner {
    background: #000
}

/*
上传文件等待动画
*/

.fanyi8editor_upload_image_loader {
    width: 60px;
    height: 60px;
    background-color: #67CF22;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -30px 0 0 -30px;
    -webkit-animation: rotateplane 1.2s infinite ease-in-out;
    animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
    0% {
        -webkit-transform: perspective(120px)
    }
    50% {
        -webkit-transform: perspective(120px) rotateY(180deg)
    }
    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
    }
}

@keyframes rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }
    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

.fanyi8editor > .drag {
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0.8;
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
}
